# FastAPI
fastapi
uvicorn
python-multipart
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-ollama
langchain-chroma

# Document Loaders
pypdf
docx2txt

# Pydantic
pydantic